<!DOCTYPE html>
<html>
	<head>
		<title>My Resume!</title>
         <meta charset="UTF-8">
	</head>
	<body bgcolor = "#FFFFCC">
		<strong><big>Kutsko Artur 25 years old.</big></strong>
			<p><strong>Developer</strong></p>
				<! -- Обо мне -->
			<img src ="avatar.jpg" width = "180px" height = "210px" border = "1px" />
			<h2><big><i>Сводка</i>
				</big>
			</h2>
				<p>Привет, меня зовут <strong>Артур</strong> и я расскажу вам <i>о себе</i>!<br /><del>Ничего интересного</del></p>
				<hr>

			<!--  ОПЫТ  -->
			<h2><b><i><big>Опыт</big></i></b></h2>
			<div style = "background-color:green; color:white; padding:20px;">
				<ul>
					<li><b>Инженер всея руси! | 2018 - 2019</b>
						<p>Собирал крылатых коров.</p>
					</li>
					<li><b>Инженер мира! | 2019 - н.вр</b>
					</li>
						<p>Собирал мохнатых китов.</p>
                </ul>
		   </div>

		   <div style = "padding:20px;">

		   <!-- ТАБЛИЦА -->
				<table border = "1">
				<tr>
					<td align = "center" colspan = "4" >Навыки</td>
				</tr>
				<tr>
					<th>Технологии</th>
					<td>Python</td>
					<td>HTML</td>
					<td>SQL</td>
				</tr>
				<tr>
					<th>Умения</th>
					<td>ООП</td>
					<td>Инф.сайты</td>
					<td>Уверенное владение</td>					</tr>
				</table>
			</div>

		<!-- РАСПИСАНИЕ -->
		<h1 align = "center"><span style = "color:red"><i>Мое расписание</i></span></h1>

			<table border = "1">
			<tr>
				<th>День</th>
				<th>Понедельник</th>
				<th>Вторник</th>
				<th>Среда</th>
				<th>Четверг</th>
				<th>Пятница</th>

			</tr>
			<tr>
				<td>8:00 - 9:00</td>
				<td class = "selected"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
			<tr>
				<td>8:00 - 9:00</td>
				<td></td>
				<td class = "selected"></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
			<tr>
				<td>8:00 - 9:00</td>
				<td></td>
				<td></td>
				<td class = "selected"></td>
				<td></td>
				<td></td>

			</tr>
			<tr>
				<td>8:00 - 9:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td class = "selected"></td>
				<td></td>

			</tr>
			<tr>
				<td>8:00 - 9:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class = "selected"></td>

			</tr>

			</table>

		<div class="section">
			<h1><span>My Media</span></h1>
			<iframe height="350" width="600" src="https://www.youtube.com/embed/Q6_5InVJZ88" allowfullscreen frameborder="0"></iframe>
		</div>

		<!-- КОНТАКТЫ -->
		<h2><strong>Контакты</strong></h2>
		<a href = "https://www.instagram.com/byketisbelihroz/"><img src="https://abrakadabra.fun/uploads/posts/2022-01/1643088016_1-abrakadabra-fun-p-logotip-instagrama-						na-prozrachnom-fone-6.jpg" height="90px"
			width="110px" alt = "logo"/></a>
		<a href = "https://t.me/happynovitsky" target = "_blank" ><img src="https://cutewallpaper.org/24/telegram-png/download-telegram-logo-in-svg-vector-or-png-file-format-logowine.png"  			height="90px" width="110px" alt = "logo"/></a>

		<h2><big><b>Напишите мне!</b></big></h2>
			<div style = "pedding:10px">
				<form>
					<input placeholder = "Имя" required/><br />
					<input placeholder = "Эл. почта"  required/><br />
					<textarea placeholder = "Сообщение" required></textarea><br />
					<input type = "submit" value = "Отправить">
				</form>

			</div>


	</body>
</html>